In [1]:
#list in python
l = [1,2,"ram", True, 5+3j, 3.44]

In [2]:
type(l)

list

In [3]:
l

[1, 2, 'ram', True, (5+3j), 3.44]

In [4]:
print(l)

[1, 2, 'ram', True, (5+3j), 3.44]

In [5]:
#if we need data one by one we can use slicing   
#list store data in the form of index same as of a string
l[0]

1

In [7]:
# l[90]    # error will be thrown

In [8]:
l[0:3] #if we need data upto 2 form the list

[1, 2, 'ram']

In [9]:
l[-1]   #for the last element in the list form negative form

3.44

In [10]:
# to reverse a list same as string
l[::-1]

[3.44, (5+3j), True, 'ram', 2, 1]

In [11]:
l[::2]  #data in even index

[1, 'ram', (5+3j)]

In [12]:
# concatening list and string data
l

[1, 2, 'ram', True, (5+3j), 3.44]

In [13]:
s = "sita"
s

'sita'

In [16]:
l.append(s)
l

[1, 2, 'ram', True, (5+3j), 3.44, 'sita', 'sita', 'sita']

In [17]:
l[2][0:2]    #extracting only ra from the list

'ra'

In [18]:
#extract Tr from True as it is boolean value so we need to do type casting
str(l[3])[0:2]

'Tr'

In [19]:
l

[1, 2, 'ram', True, (5+3j), 3.44, 'sita', 'sita', 'sita']

In [21]:
l1 = [3,4,5]

In [22]:
l + l1  #we can append list in list

[1, 2, 'ram', True, (5+3j), 3.44, 'sita', 'sita', 'sita', 3, 4, 5]

In [23]:
l1 *3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [25]:
len(l)

9

In [26]:
#adding any element or data in the list using append func
#it is a inbuild function
l.append(5)
l

[1, 2, 'ram', True, (5+3j), 3.44, 'sita', 'sita', 'sita', 5]

In [27]:
l.append(s)

In [28]:
l

[1, 2, 'ram', True, (5+3j), 3.44, 'sita', 'sita', 'sita', 5, 'sita']

In [29]:
l.append(l1)

In [30]:
l

[1, 2, 'ram', True, (5+3j), 3.44, 'sita', 'sita', 'sita', 5, 'sita', [3, 4, 5]]

In [31]:
l[-1][1]

4

In [38]:
#use of extend function 
# with the help of extend function we can append iterable data not integer
# l.extend(5)   we get error in this but for string it will work
l.extend("ra")
l

[1,
 2,
 'ram',
 True,
 (5+3j),
 3.44,
 'sita',
 'sita',
 'sita',
 5,
 'sita',
 [3, 4, 5],
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a']

In [39]:
l.extend([1,2])

In [40]:
l

[1,
 2,
 'ram',
 True,
 (5+3j),
 3.44,
 'sita',
 'sita',
 'sita',
 5,
 'sita',
 [3, 4, 5],
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 'j',
 'n',
 'i',
 's',
 'h',
 'r',
 'a',
 1,
 2]

In [2]:
l2 = ["hari"]
#to append data in specefic index we use insert function
#to find which one to write at first, index or data so in this case inside () press shift + tab
l2.insert(0,"laxman")   #first parameter means index and 2nd is data
l2

['laxman', 'hari']

In [3]:
l2.insert(-1, 45)

In [4]:
l2

['laxman', 45, 'hari']

In [5]:
l2.insert(0, 45)

In [6]:
l2

[45, 'laxman', 45, 'hari']

In [7]:
#to delete data
# pop is normally used to delete data of the last index if we do not give any index value
l2.pop(1)

'laxman'

In [8]:
l2

[45, 45, 'hari']

In [9]:
l2.pop()

'hari'

In [10]:
l2

[45, 45]

In [13]:
l2.insert(0,["ram", "shyam"])

In [14]:
l2

[['ram', 'shyam'], 45, 45]

In [3]:
#to delete item with their value not from index we use remove function
c = [['ram', 'shyam'], 45, 45,"hari","gita", "aarati"]

In [5]:
c.remove(45)

In [6]:
c

[['ram', 'shyam'], 45, 'hari', 'gita', 'aarati']

In [9]:
c[0].remove('ram')
c

[['shyam'], 45, 'hari', 'gita', 'aarati']

In [21]:
# c[2].remove('dh') 
#this is not possible because list is mutable object but not string

In [11]:
c.append(4)
c

[['shyam'], 45, 'hari', 'gita', 'aarati', 4]

In [15]:
c.append(4)
c

[['shyam'], 45, 'hari', 'gita', 'aarati', 4, 4]

In [25]:
c.remove(4)
c

[['shyam'], 45, 'hari', 'gita', 'aarati']

In [26]:
c

[['shyam'], 45, 'hari', 'gita', 'aarati']

In [28]:
# to reverse list 

c[::-1]  #this is temporary reverse

['aarati', 'gita', 'hari', 45, ['shyam']]

In [29]:
c

[['shyam'], 45, 'hari', 'gita', 'aarati']

In [31]:
c.reverse() #this is permanent reverse the original list will also be changed
c

[['shyam'], 45, 'hari', 'gita', 'aarati']

In [32]:
c = c[::-1]  #this is permanent reverse as it is assigned to variable c

In [33]:
c

['aarati', 'gita', 'hari', 45, ['shyam']]

In [35]:
l = [2,3,44,55,34,53,2,4,7,]
l.sort()  #sort function cannot sort while there is string data type but it can if all data are in string
l

[2, 2, 3, 4, 7, 34, 44, 53, 55]

In [38]:
z = ['ram','csit','samrat','file','note','aa','b']
z.sort()
z

['aa', 'b', 'csit', 'file', 'note', 'ram', 'samrat']

In [39]:
#to sort string in reverse order
z.sort(reverse=True)

In [40]:
z

['samrat', 'ram', 'note', 'file', 'csit', 'b', 'aa']

In [43]:
z.index('ram')

1

In [44]:
#count function is normally used to count the total number of occurance of particular item
#or frequency of elements
z.count("samrat")

1

In [2]:
s = 'samrat'

In [3]:
# s[0] = 'a'     this is error because string is immutable as it is string
# mutability means we can change  same place we can change by accessing index
#assignment and mutability is a different concept

TypeError: 'str' object does not support item assignment

In [4]:
l5 = [2,4,5,6,8]

In [5]:
l5[0] = 55

In [6]:
l5

[55, 4, 5, 6, 8]

In [3]:
s.replace('s', 'u')  #it will be available in new memory location not in original

'uamrat'

In [4]:
s

'samrat'

In [5]:
# TUPLES it is a collection which can store all data type
# tuples also follow the immutability concept
# it is used in store password because we cannot change but can make object
t = (2,34,5,"ramj",34.44,False,34+332j,[3,4,5])

In [6]:
type(t)

tuple

In [7]:
len(t)

7

In [8]:
t[0]

2

In [9]:
t[-1]

(34+332j)

In [10]:
t[::-1]   #this means object is created not mutate

((34+332j), False, 34.44, 'ramj', 5, 34, 2)

In [12]:
t.count(60)

0

In [14]:
t.index('ramj')

3

In [15]:
#now we do have another data type i.e.   set
s = {}
type(s)  #python gives it as dictonary as it is empty

dict

In [17]:
s1 = {3,4,5,3,9,6,5,9,"rajnish",True,2+ 3j, (4,5,9)} 
#tuple is accepted in set but not list because tuple is immutable and cannot use mutable data type
#set gives unique element remove the duplicate 
type(s1)

set

In [18]:
s1

{(2+3j), (4, 5, 9), 3, 4, 5, 6, 9, True, 'rajnish'}

In [20]:
s2 = {2,3,3,4,5,3,2,5,6,7,8,9,55,64,32,44,44,33,22,'Sudh','sudh'}
s2

{2, 22, 3, 32, 33, 4, 44, 5, 55, 6, 64, 7, 8, 9, 'Sudh', 'sudh'}

In [6]:
# removing the duplicates form the list and again assingning it to list
# set never creates a data set at any point of time
l6 = [2,3,3,4,5,3,2,5,6,7,8,9,55,64,32,44,44,33,22,'Sudh','sudh','rajnish','rajnish']
l6 =list( set(l6))
l6

[64, 32, 2, 3, 4, 5, 6, 7, 8, 9, 33, 'Sudh', 44, 'sudh', 'rajnish', 22, 55]

In [ ]:
# indexing and slicing is not possible in set

In [8]:
#adding element in a set
s5 = {2, 22, 3, 32, 33, 4, 44, 5, 55, 6, 64, 7, 8, 9, 'Sudh', 'sudh'}
s5.add(1)
s5

{1, 2, 22, 3, 32, 33, 4, 44, 5, 55, 6, 64, 7, 8, 9, 'Sudh', 'sudh'}

In [10]:
# removing element in a set
s5.remove('sudh')
s5

{1, 2, 22, 3, 32, 33, 4, 44, 5, 55, 6, 64, 7, 8, 9, 'Sudh'}