In [1]:
#Dictonary
# if we insert linear element i.e. without key value pair then it is list and if we insert with key then dictonary
d = {}
type(d)

dict

In [2]:
d1 = {'key' : "rajnish"}
d1

{'key': 'rajnish'}

In [3]:
d2 = {'name' : "ranish", 'email' :"ram@gmail.com", 'number': "3333"}
d2

{'name': 'ranish', 'email': 'ram@gmail.com', 'number': '3333'}

In [4]:
# d3 = {234 : "rajnish", @ram : "ram"}  special case character(_) is not possible

In [5]:
d3 = {234 : "rajnish", '_ram' : "ram", True:2343}
d3

{234: 'rajnish', '_ram': 'ram', True: 2343}

In [6]:
# to get value in case of dictonary
d3[234]

'rajnish'

In [7]:
d3[1] # 1 is true

2343

In [8]:
d4 = {'name' : "ranish", 'email' :"ram@gmail.com", 'number': "3333","name" : "ranish"}
d4["name"]  #we will not get the 1st value, it will be override with new value or last value

'ranish'

In [9]:
d5 = {"company" : "tags", "offer" : ["fintech","agritech","aero"]}
d5

{'company': 'tags', 'offer': ['fintech', 'agritech', 'aero']}

In [10]:
d5['offer']

['fintech', 'agritech', 'aero']

In [11]:
d5['offer'][2]

'aero'

In [12]:
#we can use value as a list, tuple and set
d6 = {"number" : [2,3,4,5,66], "assignment" : (2,3,4,5,6,8), "launch_date": {23,43,21}, "class_time":{"web": 4, "ds" :5}}

In [13]:
d6

{'number': [2, 3, 4, 5, 66],
 'assignment': (2, 3, 4, 5, 6, 8),
 'launch_date': {21, 23, 43},
 'class_time': {'web': 4, 'ds': 5}}

In [14]:
#extracting data from collection
d6["class_time"]['web']

4

In [15]:
#adding new key value pair
#if we already have new key then just value will be updated
d6['mentor'] = ["rajnish", "ram"]
d6

{'number': [2, 3, 4, 5, 66],
 'assignment': (2, 3, 4, 5, 6, 8),
 'launch_date': {21, 23, 43},
 'class_time': {'web': 4, 'ds': 5},
 'mentor': ['rajnish', 'ram']}

In [16]:
del d6['number']

In [17]:
d6

{'assignment': (2, 3, 4, 5, 6, 8),
 'launch_date': {21, 23, 43},
 'class_time': {'web': 4, 'ds': 5},
 'mentor': ['rajnish', 'ram']}

In [18]:
# to find out all the key of the list 
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [19]:
# to convert dictonary into a list 
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [20]:
#to find out all values from a list 
list(d6.values())

[(2, 3, 4, 5, 6, 8), {21, 23, 43}, {'web': 4, 'ds': 5}, ['rajnish', 'ram']]

In [21]:
# to get dictonary items
d6.items()

dict_items([('assignment', (2, 3, 4, 5, 6, 8)), ('launch_date', {43, 21, 23}), ('class_time', {'web': 4, 'ds': 5}), ('mentor', ['rajnish', 'ram'])])

In [22]:
d6.pop('assignment')

(2, 3, 4, 5, 6, 8)

In [23]:
d6

{'launch_date': {21, 23, 43},
 'class_time': {'web': 4, 'ds': 5},
 'mentor': ['rajnish', 'ram']}

In [24]:
#STATEMENT IN PYTHON
marks = 55
if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >=60 and marks <80:
    print("You will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of a2 batch")
else:
    print("you will be a part of a3 batch")

you will be a part of a2 batch

In [25]:
#user input values
marks = int(input("enter your marks:"))

if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >=60 & marks <80:
    print("You will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of a2 batch")
else:
    print("you will be a part of a3 batch")

enter your marks: 33

You will be a part of A1 batch

In [26]:
price = int(input("enter price  "))
if price > 1000:
    print("i will not purchase")
else:
    print("i will pruchase")

enter price   55

i will pruchase

In [27]:
price = int(input("enter price  "))
if price > 1000:
    print("i will not purchase")

enter price   55

In [28]:
print('ram')

ram

In [29]:
print("rajnish")

rajnish

In [35]:
# loop in python
# for loop
# for the list given below, add 1st element to next and so on and store into the new list
l = [1,2,3,4,5,6,7,8,9,]
l1 = []
for x in l:   #x is temporary variable
    print( x + 1)
    l1.append(x + 1)
l1

2
3
4
5
6
7
8
9
10

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
#convert the list item in uppercase and store them into a list
l = ["rajnish", "adhikari" ,"tags", "course"]
l1 = []
for x in l:
    print(x)
    
    l1.append(x.upper())
l1

rajnish
adhikari
tags
course

['RAJNISH', 'ADHIKARI', 'TAGS', 'COURSE']

In [2]:
l = [1,2,3,4,5,6, "ram", "karki", 23,43.34, "abc"]

In [6]:
l1_numeric = []
l2_str = []

for  i in l:
    if type(i) == int or type(i) == float:
        l1_numeric.append(i)
    else:
        l2_str.append(i)

l2_str

['ram', 'karki', 'abc']

In [5]:
l1_numeric

[1, 2, 3, 4, 5, 6, 23, 43.34]

In [2]:
!git init

Reinitialized existing Git repository in /home/jovyan/work/.git/

In [3]:
!git remote -v

origin	https://github.com/RajnishAdhikari/DataScienceAssignment.git (fetch)
origin	https://github.com/RajnishAdhikari/DataScienceAssignment.git (push)

In [4]:
!git remote remove origin
!git remote add origin https://github.com/RajnishAdhikari/DataScienceAssignment.git

In [5]:
!git remote -v

origin	https://github.com/RajnishAdhikari/DataScienceAssignment.git (fetch)
origin	https://github.com/RajnishAdhikari/DataScienceAssignment.git (push)

In [6]:
!git config --global user.email "rajnishadhikari01@gmail.com"
!git config --global user.name "RajnishAdhikari"

In [7]:
!git  add .
!git commit -m "day 3 of data science dictonary and statement"

[main 2a3f838] day 3 of data science dictonary and statement
 1 file changed, 9 insertions(+), 9 deletions(-)

In [ ]:
!git push -u origin main

Username for 'https://github.com':