In [1]:
l = [1,2,3,4,5]
#performing various operations
for i in l:
    print(i)

1
2
3
4
5

In [2]:
l1 = ["ram","rajnish","shyam","adhikari"]
for i in l1:
    print(i,type(i))

ram <class 'str'>
rajnish <class 'str'>
shyam <class 'str'>
adhikari <class 'str'>

In [3]:
#for else statement which is possible in python only
for i in l1:
    print(i)
    
else:
    print("if for loop is able to complete itself then only else will execute")

ram
rajnish
shyam
adhikari
if for loop is able to complete itself then only else will execute

In [4]:
for i in l1:
    if i == "rajnish":
        break
    print(i)

ram

In [6]:
for i in l1:
    if i == "rajnish":
        break
    print(i)
else:    #else will execute if and only if for loop executes completely but in our case we have break
    print("execute this if for loop is able to complete or execute")

ram

In [7]:
l1

['ram', 'rajnish', 'shyam', 'adhikari']

In [8]:
for i in l1:
    if i == "rajnish":
        continue
    print(i)

ram
shyam
adhikari

In [9]:
for i in l1:
    if i == "rajnish":
        continue
    print(i)
else:
    print("execute this if for loop is able to complete or execute")

ram
shyam
adhikari
execute this if for loop is able to complete or execute

In [10]:
#use of range function
range(5)

range(0, 5)

In [11]:
list(range(5))  #this generates data excluding 5

[0, 1, 2, 3, 4]

In [12]:
list(range(0,5,1))  #jump step size as 1

[0, 1, 2, 3, 4]

In [14]:
#to print the even numbers from 0 to 20
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [16]:
# printing the list in reverse order using for loop and range
l1

['ram', 'rajnish', 'shyam', 'adhikari']

In [ ]:
len(l1)

4

In [19]:
list(range(len(l1)))

[0, 1, 2, 3]

In [20]:
for i in range(len(l1)):
    print(l1[i])

ram
rajnish
shyam
adhikari

In [27]:
list(range(len(l1)-1,-1,-1))   #(here we do have upper bound, lower bound and jump)

[3, 2, 1, 0]

In [29]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

adhikari
shyam
rajnish
ram

In [30]:
# extract the data form the list form even index only 
l2 = [23,3,5,6,4,33,65,76,87,87,44]

In [32]:
# at first generating the even index only
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [34]:
for i in range(0,len(l2),2):
    print(l2[i])

23
5
4
65
87
44

In [4]:
l = [1,2,3,4,5,44,55,43]
# to find the sum of elements in a list
sum(l)

157

In [6]:
result = 0
for i in l:
    result = result + i
result

157

In [10]:
t = (2,3,4,5,6,6)

for i in t:
    print(i)

2
3
4
5
6
6

In [8]:
#finding the sum
result = 0
for i in t:
    result = result + i
result

26

In [12]:
s = {1,2,3,4,5,6,"rajnish"}
for i in s:
    print(i)

1
2
3
4
5
6
rajnish

In [13]:
s1 = "rajnish"

In [14]:
for i in s1:
    print(i)

r
a
j
n
i
s
h

In [15]:
d = {"name": "rajnish", "class" : "ds", "topic":["python","stats","ml","deeplearning",
                                                "nlp"]}
d

{'name': 'rajnish',
 'class': 'ds',
 'topic': ['python', 'stats', 'ml', 'deeplearning', 'nlp']}

In [16]:
#to find all the value of keys using the for  loop
d.keys()

dict_keys(['name', 'class', 'topic'])

In [19]:
for i in d.keys():
    print(d[i])  #printing the values of the respective keys

rajnish
ds
['python', 'stats', 'ml', 'deeplearning', 'nlp']

In [20]:
d.values()

dict_values(['rajnish', 'ds', ['python', 'stats', 'ml', 'deeplearning', 'nlp']])

In [21]:
for i in d.values():
    print(i)

rajnish
ds
['python', 'stats', 'ml', 'deeplearning', 'nlp']

In [22]:
# to print key value pairs using for loop
d.items()

dict_items([('name', 'rajnish'), ('class', 'ds'), ('topic', ['python', 'stats', 'ml', 'deeplearning', 'nlp'])])

In [23]:
for i in d.items():
    print(i)

('name', 'rajnish')
('class', 'ds')
('topic', ['python', 'stats', 'ml', 'deeplearning', 'nlp'])

In [2]:
# finding square of each element in list 
numbers = [2,3,4,-4, 10]
for i in numbers:
    square = i **2
    print(square)

4
9
16
16
100