In [5]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://homerajnishadhikari01:pwskills@cluster0.0cn4rc5.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp38-cp38-manylinux2014_x86_64.whl (519 kB)
     |████████████████████████████████| 519 kB 24.1 MB/s eta 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     |████████████████████████████████| 283 kB 66.8 MB/s eta 0:00:01
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
db

Database(MongoClient(host=['ac-hqg6nwk-shard-00-00.0cn4rc5.mongodb.net:27017', 'ac-hqg6nwk-shard-00-01.0cn4rc5.mongodb.net:27017', 'ac-hqg6nwk-shard-00-02.0cn4rc5.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-t06n6h-shard-0', tls=True), 'test')

In [7]:
db = client['pwskills']

In [8]:
data = {
    "name": "ram",
    "class": "data sciencce",
    "time": "flex"
}

In [9]:
# defining the name of a collection 
collection_pwskills = db["my_record"]

In [10]:
collection_pwskills.insert_one(data)

In [12]:
data1 = {
    "mail_id" : "ram@gmail.com",
    "phone_number" : 234343432,
    "address" : "kathmandu"
}

collection_pwskills.insert_one(data1)

In [15]:
# inserting the multiple record 

data2 = [
    { "name": "Amy", "address": "Kathmandu-1 44600"},
    { "name": "ram", "address": "Kathmandu-1 44600"},
    { "name": "shyam", "address": "Kathmandu-1 44600"},
    { "name": "hari", "address": "Kathmandu-1 44600"},
    { "name": "james", "address": "Kathmandu-1 44600"},
    { "name": "David", "address": "Kathmandu-1 44600"},
    { "name": "samrat", "address": "Kathmandu-1 44600"},
    { "name": "steev", "address": "Kathmandu-1 44600"},
    { "name": "Amy", "address": "Kathmandu-1 44600"}
    

]

collection_pwskills.insert_many(data2)

In [18]:
data3 = {
    "name":     "note",
    "quantity":  50,
    "rating":   [{"score": 8}, {"score": 9}],
    "size":     {"height": 11, "width": 8.5, "unit" : "in"},
    "status" :  "A",
    "tags" :    ["college-ruled", "performated"]
}

collection_pwskills.insert_one(data3)

In [20]:
# displaying one data from the document 
collection_pwskills.find_one()

{'_id': ObjectId('646361eba93c9b050402e39b'),
 'name': 'ram',
 'class': 'data sciencce',
 'time': 'flex'}

In [21]:
# displaying all the data 
for i in collection_pwskills.find():
    print(i)

{'_id': ObjectId('646361eba93c9b050402e39b'), 'name': 'ram', 'class': 'data sciencce', 'time': 'flex'}
{'_id': ObjectId('646362bba93c9b050402e39c'), 'mail_id': 'ram@gmail.com', 'phone_number': 234343432, 'address': 'kathmandu'}
{'_id': ObjectId('6463676fa93c9b050402e39d'), 'name': 'Amy', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e39e'), 'name': 'ram', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e39f'), 'name': 'shyam', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a0'), 'name': 'hari', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a1'), 'name': 'james', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a2'), 'name': 'David', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a3'), 'name': 'samrat', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a4'), 'name': 'steev', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a5'), 'name': 'Amy', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('646369bca93c9b050402e3a6'), 'name': 'note', 'quantity': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'performated']}

In [22]:
# finding the record form the database where name = ram
for  i in collection_pwskills.find({'name': 'ram'}):
    print(i)

{'_id': ObjectId('646361eba93c9b050402e39b'), 'name': 'ram', 'class': 'data sciencce', 'time': 'flex'}
{'_id': ObjectId('6463676fa93c9b050402e39e'), 'name': 'ram', 'address': 'Kathmandu-1 44600'}

In [24]:
random_data = [
    {'_id': '3', 'companyName': 'Tags', 'Faculty':'Data Science'},
    {'_id': '4', 'companyName': 'Tags', 'Faculty': 'Machine Learning'},
    {'_id': '5', 'companyName': 'Tags', 'Faculty' : 'Machine Learning'}

    
]
collection_pwskills.insert_many(random_data)

In [26]:
for i in collection_pwskills.find():
    print(i)

{'_id': ObjectId('646361eba93c9b050402e39b'), 'name': 'ram', 'class': 'data sciencce', 'time': 'flex'}
{'_id': ObjectId('646362bba93c9b050402e39c'), 'mail_id': 'ram@gmail.com', 'phone_number': 234343432, 'address': 'kathmandu'}
{'_id': ObjectId('6463676fa93c9b050402e39d'), 'name': 'Amy', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e39e'), 'name': 'ram', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e39f'), 'name': 'shyam', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a0'), 'name': 'hari', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a1'), 'name': 'james', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a2'), 'name': 'David', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a3'), 'name': 'samrat', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a4'), 'name': 'steev', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a5'), 'name': 'Amy', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('646369bca93c9b050402e3a6'), 'name': 'note', 'quantity': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'performated']}
{'_id': '3', 'companyName': 'Tags', 'Faculty': 'Data Science'}
{'_id': '4', 'companyName': 'Tags', 'Faculty': 'Machine Learning'}
{'_id': '5', 'companyName': 'Tags', 'Faculty': 'Machine Learning'}

In [28]:
# displaying the data where id >=4
for i in collection_pwskills.find({"_id":{"$gte" : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'Tags', 'Faculty': 'Machine Learning'}
{'_id': '5', 'companyName': 'Tags', 'Faculty': 'Machine Learning'}

In [31]:
# updating the company name to adhikari 
collection_pwskills.update_many({'companyName': 'Tags'}, {"$set" : {'companyName' : 'adhikari'}})

In [32]:
for i in collection_pwskills.find():
    print(i)

{'_id': ObjectId('646361eba93c9b050402e39b'), 'name': 'ram', 'class': 'data sciencce', 'time': 'flex'}
{'_id': ObjectId('646362bba93c9b050402e39c'), 'mail_id': 'ram@gmail.com', 'phone_number': 234343432, 'address': 'kathmandu'}
{'_id': ObjectId('6463676fa93c9b050402e39d'), 'name': 'Amy', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e39e'), 'name': 'ram', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e39f'), 'name': 'shyam', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a0'), 'name': 'hari', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a1'), 'name': 'james', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a2'), 'name': 'David', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a3'), 'name': 'samrat', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a4'), 'name': 'steev', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('6463676fa93c9b050402e3a5'), 'name': 'Amy', 'address': 'Kathmandu-1 44600'}
{'_id': ObjectId('646369bca93c9b050402e3a6'), 'name': 'note', 'quantity': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'performated']}
{'_id': '3', 'companyName': 'adhikari', 'Faculty': 'Data Science'}
{'_id': '4', 'companyName': 'adhikari', 'Faculty': 'Machine Learning'}
{'_id': '5', 'companyName': 'adhikari', 'Faculty': 'Machine Learning'}