In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# A database is a structured collection of data that is organized and stored in a manner that allows 
# for efficient retrieval, management, and manipulation of data. It serves as a central repository for 
# storing and managing data for various applications or systems.

# Differentiate between SQL and NoSQL databases:

# SQL Databases:
# SQL (Structured Query Language) databases are based on the relational model. They use structured schemas, 
# tables, and predefined relationships between tables to store and organize data. Some key characteristics 
# of SQL databases are:

# 1. Data Structure: SQL databases use a tabular structure where data is stored in tables consisting of rows 
# and columns. Each table has a predefined schema that defines the columns and their data types.

# 2. Schema and Data Integrity: SQL databases enforce a predefined schema, which ensures data integrity and 
# consistency. The schema specifies the structure, relationships, and constraints of the data.

# 3. Query Language: SQL databases use SQL as the standard language for querying and manipulating data. SQL 
# provides a rich set of operations to perform complex queries, filtering, sorting, aggregations, and joining 
# of data.

# 4. ACID Compliance: SQL databases generally adhere to ACID (Atomicity, Consistency, Isolation, Durability) 
# properties, which ensure data consistency and transactional integrity.

# Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

# NoSQL Databases:
# NoSQL (Not only SQL) databases are non-relational databases that provide a flexible data model and are 
# designed to handle large volumes of unstructured or semi-structured data. Some key characteristics of 
# NoSQL databases are:

# 1. Flexible Data Model: NoSQL databases can handle various data formats, such as key-value pairs, documents, 
# graphs, or wide-column stores. They allow for dynamic schemas, enabling easy scalability and adaptability to 
# changing data structures.

# 2. Scalability and Performance: NoSQL databases are highly scalable, designed to handle large-scale distributed 
# systems. They provide high performance for read and write operations, making them suitable for high-traffic 
# and big data applications.

# 3. No Joins: Unlike SQL databases, NoSQL databases do not support complex joins between tables. Instead, they 
# denormalize data to avoid expensive join operations.

# 4. Eventual Consistency: NoSQL databases often prioritize availability and partition tolerance over strict 
# consistency. They may offer eventual consistency models, where data updates propagate gradually across the system.

# Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Amazon DynamoDB.

# In summary, the main difference between SQL and NoSQL databases lies in their data model, structure, query 
# language, and consistency guarantees. SQL databases offer structured schemas, SQL querying, and ACID compliance, 
# while NoSQL databases provide flexibility, scalability, and eventual consistency for handling large volumes of 
# unstructured or semi-structured data.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is 
# used to define and manage the structure of a database and its objects. DDL statements are responsible 
# for creating, altering, and deleting database objects such as tables, indexes, views, and constraints.

# Explanation of CREATE, DROP, ALTER, and TRUNCATE:

# 1. CREATE:
# The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas. 
# Here's an example of creating a table using the CREATE statement:


# CREATE TABLE Employees (
#     id INT PRIMARY KEY,
#     name VARCHAR(100),
#     age INT,
#     salary DECIMAL(10, 2)
# );


# This statement creates a table named "Employees" with columns for id, name, age, and salary. It specifies 
# the data types and constraints for each column.

# 2. DROP:
# The DROP statement is used to remove existing database objects, such as tables, indexes, or views. 
# Here's an example of dropping a table using the DROP statement:


# DROP TABLE Employees;


# This statement removes the "Employees" table from the database. Caution should be exercised when using 
# DROP, as it permanently deletes the object and its data.

# 3. ALTER:
# The ALTER statement is used to modify the structure of an existing database object. It allows you to add, 
# modify, or delete columns, constraints, or other attributes of a table. Here's an example of altering a 
# table using the ALTER statement:


# ALTER TABLE Employees
# ADD COLUMN address VARCHAR(200);


# This statement adds a new column named "address" to the "Employees" table with a VARCHAR data type of length 200.

# 4. TRUNCATE:
# The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact. 
# It is a fast alternative to the DELETE statement when you want to remove all rows from a table. Here's an 
# example of truncating a table using the TRUNCATE statement:


# TRUNCATE TABLE Employees;


# This statement removes all rows from the "Employees" table, but the table structure and any associated 
# indexes or constraints remain unchanged.

# In summary, CREATE is used to create new database objects, DROP is used to remove existing objects, 
# ALTER is used to modify the structure of objects, and TRUNCATE is used to remove all data from a table 
# while keeping the structure intact. These DDL statements are essential for defining and managing the 
# structure of a database and its objects.

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.